<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<header>
    <div class="container clearfix">
        <h1 id="logo">
            Tappy Hour
        </h1>
        <nav>
            <a href="/">Happy Hour</a>
            <a href="/business/signin">Business Login</a>
            <a href="/business">Business Sign Up</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </div>
</header><!-- /header -->

<body>
  
  {{{body}}}
</body>

</html>
