







    <div class="container">

        <h1>Welcome to TAPPY HOUR!</h1>
        <br>

        <form id="signup" name="signup" method="post" action="/signup" class="jumbotron">

            <h2>Please fill out the form to register!</h2>
            <hr/>

            <div class="form-row">
                <div class="col-md-6">
                    <label for="email">Email Address</label>
                    <input class="text form-control" name="email" type="email" />
                </div> 

                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" type="password" />
                </div>
            </div>
                       
            <div class="form-row">
                <div class="col-md-4">
                    <label for="firstname">Firstname</label>
                    <input name="firstname" type="text" class="form-control"/>
                </div>

                <div class="col-md-4">
                    <label for="lastname">Lastname</label>
                    <input name="lastname" type="text" class="form-control"/>
                </div>

                <div class="col-md-4">
                    <label for ="business">Business Name</label>
                    <input name ="business" type ="text" class="form-control"/>
                </div>
            </div>          
        
            <div class="form-row">
                <div class="col-md-6">
                    <label for ="city">City</label>
                    <input name ="city" type ="text" class="form-control"/>
                </div>

                <div class="col-md-4">
                    <label for ="state">State</label>
                    <input name ="state" type ="text" class="form-control"/>
                </div>

                <div class="col-md-2">
                    <label for ="zip">Zip</label>
                    <input name ="zip" type ="text" class="form-control"/>
                </div>
            </div>
            
           <input class="btn btn-primary" type="submit" value="Sign Up" />
        </form>
    
    </div>
 


















